.LightButton {
    margin: 0px 0px 0px 10px;
    background-color: #ffffff;
    color: #000000;
    height: 40px;
    width: 100px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}