.DarkButton {
    margin: 0px 10px 0px 0px;
    background-color: #000000;
    color: #ffffff;
    height: 40px;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #bdbdc3;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}