.Card {
    text-align: left;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
}

.CardBody {
    width: 260px;
    padding: 0px 3px;
    font-weight: 450;
}

.CardDateTime {
    font-size: 14px;
    padding: 0px 3px;
    color: #464655;
}

.DarkBody {
    color: #bdbdc3;
}

.DarkCard {
    background-color: #292c34;
}

.ImgContainer {
    padding: 20px;
}

.ImgContainer img {
    width: 220px;
}

.CardDescription {
    padding: 20px;
}

.DarkCardDateTime {
    color: #c4b5b3;
}

@media (max-width: 736px) {
    .Card {
        display: block;
        width: 260px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}