.Card {
    text-align: left;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h3{
    margin: 0;
    padding: 0px 3px;
}

.Card a {
    text-decoration: none;
    color: inherit;
}

.CardBody {
    width: 260px;
    padding: 0px 3px;
}

.DarkBody {
    color: #bdbdc3;
}

.DarkCard {
    background-color: #292c34;
}

.ImgContainer{
    padding: 20px;
}

.ImgContainer img {
    width: 220px;
}

.CardDescription {
    padding: 20px;
}

.CardButtons {
    display: flex;
}

a{
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 100px;
}

@media (max-width: 736px) {
    .Card {
        display: block;
        width: 260px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    }
}